*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .text{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
} 
.text h4{
    display: none;
}
.text h3{
    cursor: pointer;
}
  .bars_close h3{
      margin-left: 10%;
  }
  .bars1{
    width: 30px;
    height: 3px;
    background-color: black;
    border-top-left-radius: 10px;
}
.bars2{
    width: 30px;
    height: 3px;
    background-color: black;
    border-top-left-radius: 10px;
    margin-top: 2px ;
}
.bars3{
    width: 30px;
    height: 3px;
    background-color: black;
    border-top-left-radius: 10px;
    margin-top: 2px ;

}
.close1{
    width: 30px;
    height: 3px;
    background-color: black;
    
}
.bars{
    align-items: center;
    justify-content: center;
}
header .text .box_text{

    margin-top: -20px;
}
.dsi_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    justify-content: space-between;
    display: flex;
}
header .text .img_box img{
    margin-top: 20px;
    cursor: pointer;
}
.text h4:nth-child(2){
   display:none;
}
.bars_close{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
 .hed{
     display: flex;   
     justify-content: space-around;
     align-items: center; 
}
.hed .box1 img{
    width: 100%;
    height: 600px;
    object-fit: cover;

}
.hed {
    padding: 40px 0;
}
/* header .header_text {
    padding: 125px 155px;
} */
.hed .box1 {
    width: 50%;
    height: 400px;

}
.header_text h2{
    padding: 15px 0;
}
.header_text p{
    padding: 10px 0;
}
.hed .box1 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}


header .header_text  h2{
    color: red;
    font-size: 31px;
    margin-top: -20px;
}
header .header_text button{
    padding: 12px 32px;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
main .main{
    display: flex;
}
main .main_text {
    padding: 57px 100px;
}
.main .main_box img{
    width: 100%;
    height: 700px;
}

main .main_text p{
    font-size: 20px;
}
.main_text{
    width: 100%;
    height: 700px;
}
main h1{
    text-align: center;
    padding: 116px 0;
}
.footer{
    display: flex;
}
.footer .box  img{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}
.footer .box p{
    font-size: 20px;
    text-align: center;
}
.footer .box button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: red;
    border: none;
    margin-left: 30%;
}
.footer .box  h2{
    text-align: center;
color: red;
}
.footer .box2  img{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}
.footer .box2 p{
    font-size: 20px;
    text-align: center;
}
.footer .box2 button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: red;
    border: none;
    margin-left: 30%;
}
.footer .box2  h2{
    text-align: center;
color: red;
}
.footer .box3  img{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}
.footer .box3 p{
    font-size: 20px;
    text-align: center;
}
.footer .box3 button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: red;
    border: none;
    margin-left: 30%;
}
.footer .box3  h2{
    text-align: center;
color: red;
}
footer .box{
    margin-left: 50px;
    width: 30%;
    height: 400px;

}
footer .box2{
    margin-left: 50px;
    width: 30%;
    height: 400px;

}footer .box3{
    margin-left: 50px;
    width: 30%;
    height: 400px;

}
.footer_box{
    display: flex;
}
.footer_box .box_text h2{
    margin-top: -5%;
    margin-left: -20%;
}
.footer_box .box_text h4{
    margin-left: -20%;
}
.footer_box .box_text{
    margin-top: -1.5%;
}
.footer_box .box_img{
    margin-left: 10%;
}
.box_footer{
    padding: 6px 0 40px 0;
    width: 100%;
    height: 21px;
    background-color: red;
    text-align: center;
    color: white;
}
.footer_box .box_footer h1{
    
    justify-content: center;
}